# IDE / Environment files
extensions/
argv.json

# Local Node files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
data/debug.log
*.log

# Uploads content
uploads/*

# OS files
.DS_Store
Thumbs.db
Desktop.ini

